<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>CRUD NODEJS MySQL</title>
	</head>
	<body>
		<table border align="center">
			<thead>
				<tr>
					<th>No.</th>
					<th>Nombre</th>
					<th>Dirección</th>
					<th>Teléfono</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<% if(data) { %>
					<% for(var i=0; i<data.lenght; i++) { %>
						<tr>
							<td><%= (i + 1) %></td>
							<td><%= data[i].name %></td>
							<td><%= data[i].address %></td>
							<td><%= data[i].phone %></td>
							<td>
								<a href="/delete/<%= data[i].id %>" >Borrar</a>	
							</td>
							<td>
								<a href="/update/<%= data[i].id %>" >Borrar</a>
							</td>
						</tr>
				}
			}
			</tbody>
		</table>
	</body>
</html>