body{
	font-size: 16px; /*1em*/
	margin: 0px auto;
	/* Recomendación del clientazo */
	max-width: 1078px;
	min-width: 1078px;
}
footer{
	background: #4267B3;
	color: white;
	border-top: lightgray solid 5px;
}
header input{
	float: right;
	margin-right: -200px;
	margin-top: 15px;
	position: relative;
}
header nav{
	margin-left: 220px;
}
header nav ul li{
	border-bottom: 1px solid lightgray;
	color: lightgray;
	display: inline-block;
	font-size: 1.8em;
	margin-right: 20px;
	padding-bottom: 2px;
}

#bgoffer{
	position: relative;
	top: -406px;
	left: -35px;
}
#granthams{
	margin-left: 25px;
	margin-top: 25px;
}
#foo01{
	background-color: blue;
}
#paint{
	float: right;
}
#primerSeccion{
	margin-top: 60px;
	height: 318px;
}
#primerSeccion article{
	display: inline-block;
	vertical-align: top;  /* siempre van juntos estos 2 */
}
#secc01art01{
	margin-left: 30px;
	width: 60%;
}
#secc01art02{
	margin-left: 50px;
	width: 30%;
}
#secc01art02 ul{
	list-style: none;
	margin-left: -40px;
}
#secc01art02 ul li:before{
	content: "• ";
	color: #FF9099;
}
#secc03art04 {
	padding-top: 40px; /*No se usa margin porque con en dispositivos moviles se ve feo */
}
#segundaSeccion article{
	margin-right: 165px;
	text-align: right;
}
#terceraSeccion article{
	display: inline-block;
	vertical-align: top;
	width: 23%;
}
#terceraSeccion article img{
	vertical-align: middle;
}
#terceraSeccion article input{
	border-radius: 5px;
}
#terceraSeccion article input[type="button"]{
	background: #8BC500;
	color: white;
}
.colorAzul{
	color: #4267B3;
}
.colorRosa{
	color: #FF0099;
}
.colorVerde{
	color: #8BC500;
}
.letraGrande{
	font-size: 3.5em;	
}
.letraMediana{
	font-size: 2em;
}
.letraPequena{
	font-size: .8em
}
.nito{
	font-weight: bold;
}

















